<div
    style="margin: auto; max-width: 600px;  margin-top: 180px; background-color: blanchedalmond;  vertical-align: middle; padding: 50px;">
    <div
        style="margin: auto; max-width: 300px; background-color: burlywood; vertical-align: middle; text-align: center; padding: 100px; font-family: cursive;">
        <ol>
            <b style="font-size: 24px;">Different Routes</b>
            <li style="padding: 5px;">
                <button type="submit" onclick="" style="font-family: cursive; font-size: 15px; height: 30px;
                 width: 160px; background-color: chocolate; color: cornsilk; border-radius: 5px;">CSE notice</button>
            </li>
            <li style="padding: 5px;">
                <button type="submit" onclick="" style="font-family: cursive; font-size: 15px; height: 30px;
                 width: 160px; background-color: chocolate; color: cornsilk; border-radius: 5px;">Mechanical
                    Notice</button>
            </li>
            <li style="padding: 5px;">
                <button type="submit" onclick="" style="font-family: cursive; font-size: 15px;
                 height: 30px; width: 160px; background-color: chocolate; color: cornsilk; border-radius: 5px;">EEE
                    notice</button>
            </li>
            <li style="padding: 5px;">
                <button type="submit" onclick="" style="font-family: cursive; font-size: 15px; height: 30px;
                 width: 160px; background-color: chocolate; color: cornsilk; border-radius: 5px;">EC Notice</button>
            </li>
        </ol>
    </div>
</div>